.Title {
    text-align: center;
    font-family: arial, sans-serif;
  }

  #h1 {
    text-align: center;
    font-family: arial, sans-serif;
  }

  #h3 {
    text-align: center;
    font-family: arial, sans-serif;
  }
  
  .Table {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 100%;
    scroll-behavior: smooth;
  }
  
  .Table td, .Table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .Table tr:nth-child(even){background-color: #f2f2f2;}
  
  .Table tr:hover {background-color: #ddd;}
  
  .Table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color:white;
    color: black;
  }

  .Table thead {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color:white;
    color: black;
  }

  .Container {
    text-align: left;
    flex-flow: column wrap;
    left: 0px;
    padding: 9px;
  }
  
  #Container > h1 {
    color: rebeccapurple;
  }

  Body {
    background-color: #E1E7E7;
  }  
  
  #Card {
    position: sticky;
    background-color: #FFFFFF;
    height: 370px;
    width: 700px;
    margin: -10px;
    overflow: auto;
    left: auto;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
    padding-left: 0px;
    top: 0px;
  }

  #Card-image {
    /* center horizontally overflown image */
    position: absolute;
    left: -9999px;
    right: -9999px;
    margin: auto;
  
    height: 220px;
    min-width: 100%;
  }

  #CardHeader {
    size: 15px;
    position: sticky;
    bottom: 0;
    height: 50px;
    padding: 10px 15px;
    font-family: Helvetica;
    font-style: bold;
    font-size: 25px;    
  }

  #Card-text {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.7);
  }

  .Button {
    size: 50px;
  }
  .Card-author {
    font-size: 14px;
    color: #BAB096;
  }


  